.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 115px;
	> nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 525px;
		width: 100%;
	}
}
